<div id="commentSection">
  <div id="commentBlock">
    <div class="comments">
      <% if @comments.any? %>
        <%= render @comments %>
      <% else %>
        <p>Content has no comments</p>
      <% end %>
    </div>
    <div class="commentForm">
      <%= simple_form_for [@content, @comment] do |f| %>
        <%= f.input :content_text, label: false, placeholder: 'Enter comment', input_html: { class: 'commentText'}%>
        <%= f.button :submit%>
      <% end %>
    </div>
  </div>
  <div style="height: 15%; width: 100%;">
    <%= link_to path_to_prev_page(@comments) do %>
      <div class="modalClick pageButton">
        Prev
      </div>
    <% end %>
    <%= link_to path_to_next_page(@comments) do %>
      <div class="modalClick pageButton">
        Next
      </div>
    <% end %>
  </div>
</div>
