<div class="userIndex">
    <%= link_to content do %>
      <div class="modalClick indexPic">
        <%= image_tag content.picture.url(:thumb) %>
      </div>
    <% end %>
  <div class="userInfo">
    <div class="infoTitle">
      <h3><%= content.name %></h3>
    </div>
    <div class="infoDesc">
      <p><%= truncate(content.desc, length: 250) %></p>
    </div>
    <div class="infoScore">
      <p style="float:left;"><%= content.weighted_score %></p>
      <p style="float:right;"><%= content.user.username %></p>
    </div>
  </div>
</div>
