<%= link_to content do %>
  <div class="modalClick contentPreview">
    <%= image_tag content.picture.url(:thumb) %>
    <%= content.name %>
    <%= content.desc %>
    <%= content.rating %>
  </div>
<% end %>
