<div class="userIndex">
    <%= link_to content do %>
      <div class="modalClick indexPic">
        <%= image_tag content.picture.url(:thumb) %>
      </div>
    <% end %>
  <div class="userInfo">
    <h3><%= content.name %></h3>
    <p><%= content.desc %></p>
    <p><%= content.weighted_score %></p>
  </div>
</div>
