<div id="pictureMenu">
  <div class="pictureMenuButton" id="picInfo">
    <p style="float:left;"><%= @content.name %> |  </p>
    <p id="ratingInfo"><%= @content.weighted_score %></p>
    <p><%= @content.desc %></p>
  </div>
  <div class="pictureMenuButton" id="picRating">
    <% if logged_in? %>
      <div id="voteUpDiv">
        <% if current_user.voted_up_on? @content %>
          <%= render 'upvote_blank' %>
        <% else %>
          <%= render 'upvote' %>
        <% end %>
      </div>
      <div id="voteDownDiv">
        <% if current_user.voted_down_on? @content %>
          <%= render 'downvote_blank' %>
        <% else %>
          <%= render 'downvote' %>
        <% end %>
      </div>
    <% else %>
      <p>Please login to vote</p>
    <% end %>
  </div>
  <div class="pictureMenuButton" id="commentButton">
    <p>Comment section</p>
  </div>
</div>
