<div id="pictureBox">
  <div class="nextPrevBox">
    <%= link_to "/contents/#{
    if Content.count < @content.id + 1
        1
      else
        @content.id + 1
      end}" do %>
      <div class="modalClick nextPrev">
        <h3>Prev</h3>
      </div>
    <% end %>
    <div class="nextPrev viewFullSize">
      <h3>View full size</h3>
    </div>
  </div>
  <div id="shownPic">
    <%= image_tag @content.picture.url if @content.picture? %>
  </div>
  <div class="nextPrevBox">
    <%= link_to "/contents/#{
      if  @content.id - 1 > 0
        @content.id - 1
      else
        Content.count
      end}" do %>
        <div class="modalClick nextPrev">
          <h3>Next</h3>
        </div>
    <% end %>
    <%= link_to user_url(@content.user) do %>
      <div class="modalClick nextPrev">
        <h3><%= @content.user.username %></h3>
      </div>
    <% end %>
  </div>
</div>
