<% provide(:title, "Add content") %>
<div>
  <%= simple_form_for [@user, @content] do |f| %>
    <%= render 'shared/error_messages' %>
    <%= f.input :name, label: 'Name', placeholder: 'Name' %>
    <%= f.input :desc, label: 'Description', placeholder: 'Description' %>
    <%= f.button :submit %>
  <% end %>
</div>
