<% provide(:title, "Add content") %>
<div class="formBoxContainer">
  <div class="formBox">
    <%= simple_form_for [@user, @content] do |f| %>
      <%= f.input :name, label: 'Name', placeholder: 'Name', class: 'keyboardOpen', :error => false %>
      <%= f.input :desc, label: 'Description', placeholder: 'Description', :error => false %>
      <%= f.input :picture, accept: 'image/jpeg,image/gif,image/png',
       label: "Add picture", :error => false %>
      <%= f.button :submit %>
  </div>
    <div class="errorBox">
      <%= render 'shared/error_messages', object: f.object %>
    </div>
  <% end %>
</div>
