<div class="fullImage">
  <div class="fullImageBox">
    <%= image_tag @content.picture.url if @content.picture? %>
  </div>
  <div class="viewFullSize fullImageExit">
    Exit
  </div>
</div>
<div id="showContain">
  <%= render 'pictureBox' %>
  <%= render 'comment_section' %>
</div>
<%= render 'picture_menu' %>
<script>
if(Cookies.get('modal') === '1') {
  $('#commentButton').hover (function() {
    div = $(this);
    div.addClass("HoverBorder");
     setTimeoutConst = setTimeout(function(){
       $('#commentSection').toggle();
       $('#pictureBox').toggle();
       div.toggleClass("navOpen")
     }, delay);
   }, function(){
     div.removeClass("HoverBorder");
     clearTimeout(setTimeoutConst );
  });

  $('.viewFullSize').hover (function() {
    div = $(this);
    div.addClass("HoverBorder");
     setTimeoutConst = setTimeout(function(){
       $('.fullImage').toggle();
     }, delay);
   }, function(){
     div.removeClass("HoverBorder");
     clearTimeout(setTimeoutConst );
  });
}

$('#commentButton').click (function(){
  div = $(this);
  $('#commentSection').toggle();
  $('#pictureBox').toggle();
  div.toggleClass("navOpen")
  clearTimeout(setTimeoutConst );
});

$('.viewFullSize').click (function(){
  div = $(this);
  $('.fullImage').toggle();
  clearTimeout(setTimeoutConst );
});
</script>
<%= render 'layouts/keyboard' %>
