<div class="fullImage">
  <div class="fullImageBox">
    <%= image_tag @content.picture.url if @content.picture? %>
  </div>
  <div class="viewFullSize fullImageExit">
    Exit
  </div>
</div>
<div id="showContain">
  <%= render 'pictureBox' %>
  <%= render 'comment_section' %>
</div>
<%= render 'picture_menu' %>
<script>
if(typeof comment == 'undefined'){
  comment = 0
}
if(comment == 1) {
  $('#pictureBox').toggle();
  $('#commentSection').toggle();
  $('#commentButton').toggleClass("navOpen")
}
$('#commentButton').hover (function() {
  div = $(this);
  div.addClass("HoverBorder");
   setTimeoutConst = setTimeout(function(){
     if(comment==0) {
       comment = 1
     } else {
       comment = 0
     }
     $('#commentSection').toggle();
     $('#pictureBox').toggle();
     div.toggleClass("navOpen")
   }, delay);
 }, function(){
   div.removeClass("HoverBorder");
   clearTimeout(setTimeoutConst );
});

$('#commentButton').click (function(){
  if(comment==0) {
    comment = 1
  } else {
    comment = 0
  }
  div = $(this);
  $('#commentSection').toggle();
  $('#pictureBox').toggle();
  div.toggleClass("navOpen")
  clearTimeout(setTimeoutConst );
});

$('.viewFullSize').hover (function() {
  div = $(this);
  div.addClass("HoverBorder");
   setTimeoutConst = setTimeout(function(){
     $('.fullImage').toggle();
   }, delay);
 }, function(){
   div.removeClass("HoverBorder");
   clearTimeout(setTimeoutConst );
});

$('.viewFullSize').click (function(){
  div = $(this);
  $('.fullImage').toggle();
  clearTimeout(setTimeoutConst );
});
</script>
<%= render 'layouts/keyboard' %>
