<div class="userIndex">
  <%= link_to user do %>
    <% if user.profile_picture? %>
      <div class="modalClick indexPic">
        <img src="<%= user.profile_picture.url(:thumb) %>">
      </div>
    <% else %>
      <div class="modalClick indexPic">
        No profile picture
      </div>
    <% end %>
  <% end %>
  <div class="userInfo">
    <div class="infoTitle">
      <h3><%= user.username %></h3>
    </div>
    <div class="infoDesc">
      <p><%= user.description %></p>
    </div>
    <% if logged_in? && current_user.admin? && !current_user?(user) %>
    <div class="infoScore"<p><%= link_to "delete", user, method: :delete,
                      data: { confirm: "You sure?" } %></p></div>
    <% end %>
  </div>
</div>
