<% provide(:title, "Signup") %>
<div>
  <%= simple_form_for @user do |f| %>
    <%= render 'shared/error_messages' %>
    <%= f.input :username, label: 'Username', placeholder: 'Username' %>
    <%= f.input :description, label: 'Description',
     placeholder: 'Description' %>
    <%= f.input :password, label: 'Password', placeholder: 'Password' %>
    <%= f.input :password_confirmation,
    label: 'Confirm Password', placeholder: 'Password' %>
    <%= f.input :profile_picture,
     accept: 'image/jpeg,image/gif,image/png',
     label: "Add profile picture" %>
    <%= f.button :submit %>
  <% end %>
</div>
<%= link_to login_url do %>
  <div class="">Go to login</div>
<% end %>
