<% provide(:title, @user.username) %>
<p>Welcome </p><%= @user.username %>
<%= @user.description %>
<% if logged_in? && current_user?(@user) %>
  <%= link_to edit_user_url(current_user) do %>
    <div class="">Edit User</div>
  <% end %>
  <%= link_to logout_url, method: "delete" do %>
    <div class="">Logout</div>
  <% end %>
<% end %>
<% if @contents.any? %>
  <%= link_to user_contents_url(@user) do %>
    <div class="">All contents</div>
    <% end %>
  <%= render @contents %>
<% else %>
  <p>User has no uploaded content</p>
<% end %>
