<div id="navMenu" class="container-fluid">
  <%= link_to root_url do %>
    <div class="navMenuButton modalClick" id="homeButton">Return Home</div>
  <% end %>
  <%= link_to index_url do %>
    <div class="navMenuButton modalClick">User Index</div>
  <% end %>
  <%= link_to top_url do %>
    <div class="navMenuButton modalClick">Top Rated Pictures</div>
  <% end %>
  <%= link_to random_url do %>
    <div class="navMenuButton modalClick">Go to Random Picture</div>
  <% end %>
  <%= link_to siteInfo_url do %>
    <div class="navMenuButton modalClick">Additional Site Information</div>
  <% end %>
</div>
