<div id="navMenu" class="container-fluid">
  <%= link_to root_url do %>
    <div class="navMenuButton modalClick" id="homeButton"><h1 class="menuText">Return Home</h1></div>
  <% end %>
  <%= link_to index_url do %>
    <div class="navMenuButton modalClick"><h1 class="menuText">User Index</h1></div>
  <% end %>
  <%= link_to top_url do %>
    <div class="navMenuButton modalClick"><h1 class="menuText">Top Rated Pictures</h1></div>
  <% end %>
  <%= link_to random_url do %>
    <div class="navMenuButton modalClick"><h1 class="menuText">Go to Random Picture</h1></div>
  <% end %>
  <%= link_to siteInfo_url do %>
    <div class="navMenuButton modalClick"><h1 class="menuText">Additional Site Information</h1></div>
  <% end %>
</div>
