<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.28.1/css/keyboard-dark.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.28.1/js/jquery.keyboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.28.1/js/jquery.mousewheel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.28.1/js/jquery.keyboard.extension-all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.28.1/languages/amh.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.28.1/layouts/ms-United-Kingdom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<style>
  .ui-keyboard-button {
    width: 90px;
    height: 90px;
  }
  .ui-keyboard-space {
    width: 400px;
  }
  .ui-keyboard-accept {
    width: 300px;
  }
  .ui-keyboard-cancel {
    width: 300px;
  }
</style>
  </head>
  <body>
    <div id="fullPage" class="container-fluid">
      <%= render 'layouts/navBar' %>
      <div id="mainBody"class="container-fluid">
        <%= render 'layouts/navMenu' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/webScript' %>
  </body>

</html>
