<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <div id="fullPage" class="container-fluid">
      <%= render 'layouts/navBar' %>
      <div id="mainBody"class="container-fluid">
        <%= render 'layouts/navMenu' %>
        <%= yield %>
      </div>
    </div>
  </body>
  <script>
  var delay=2700, setTimeoutConst;
  $('#navToggle').hover (function() {
    div = $(this);
    div.addClass("HoverBorder");
     setTimeoutConst = setTimeout(function(){
       $('#navMenu').slideToggle("fast", function() {

       });
       div.toggleClass("navOpen")
     }, delay);
   }, function(){
     div.removeClass("HoverBorder");
     clearTimeout(setTimeoutConst );
  });

  $('#navToggle').click (function(){
    div = $(this);
    $('#navMenu').slideToggle("fast", function() {

    });
    div.toggleClass("navOpen")
    clearTimeout(setTimeoutConst );
  });

  $('.modalClick').hover (function() {
    div = $(this);
    div.addClass("HoverBorder");
    $('.modalClick').click (function() {
       clearTimeout(setTimeoutConst );
    });
     setTimeoutConst = setTimeout(function(){
       window.location.href =
        div.parent().attr("href")
     }, delay);
   }, function(){
     div.removeClass("HoverBorder");
     clearTimeout(setTimeoutConst );
  });
  </script>
</html>
