<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="fullPage" class="container-fluid">
      <div id="mainNav"class="container-fluid">
        <div class="navButton"id="navToggle">PicturePerfect</div>
        <%= link_to '#' do %>
          <div class="navButton">SignIn</div>
        <% end %>
      </div>
      <div id="mainBody"class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
