<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <div id="fullPage" class="container-fluid">
      <%= render 'layouts/navBar' %>
      <div id="mainBody"class="container-fluid">
        <%= render 'layouts/navMenu' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
